<div class="container" style="align-items: center;">
    <!-- <h2>Card Example</h2> -->
  
    <!-- <div class="w3-card-4" style="width:25% ">
      <header class="w3-container w3-light-grey">
        <h3>AUTO-FILL FORMS</h3>
      </header>
      <div class="w3-container-text">
        <img src="./../../../../assets/img/icons8-tap-gesture.gif" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <p>CLICK CONTINUE TO PROCEED</p><br>
      </div>
      <button class="w3-button w3-block "><i class='fas fa-angle-right'></i> Continue</button>
    </div> -->
    <div class="card text-center" >
        <div class="card-header">
            <h3>AUTO-FILL FORMS</h3>
        </div>
        <div class="card-body" >
          <h5 class="card-title">CLICK CONTINUE TO PROCEED</h5><br>
          <p class="card-text"><img src="./../../../../assets/img/icons8-tap-gesture.gif"  style="width:60px"></p>
          <button class="w3-button w3-block " [routerLink]="['/Forms']"><i class='fas fa-angle-right'></i> Continue</button>
        </div>
      </div>
  </div>
2