<!-- <div class="container mt-4" style="align-items: center;">
    <div *ngIf="isCameraExist; else noCameraExist">
        <webcam [height]="500" [width]="1000" [trigger]="triggerObservable" (imagecapture)="handlepicture($event)" *ngIf="showcamera"></webcam>
        <button class="w3-button w3-block "  type="submit"  ><i class='fas fa-angle-right'></i> Close</button>
        <button class="w3-button w3-block "  type="submit"  ><i class='fas fa-angle-right'></i> Take picture</button>
        <button class="w3-button w3-block "  type="submit"  ><i class='fas fa-angle-right'></i> Preview</button>
    </div>
  </div> -->
  <div>
<div class="col-md-12">
<webcam [trigger]="invokeObservable" (imageCapture)="captureImg($event)" ></webcam>
</div>
<div class="col-md-12">
<button class="w3-button w3-block "  type="button"  (click)="getSnapshot()"><i class='fas fa-angle-right'></i> Take picture</button>
<button class="w3-button w3-block "  type="button"  *ngIf="EnablePreview" (click)="diaplaypreview()"><i class='fas fa-angle-right'></i> Preview</button>
</div>
<div class="col-12">
<div *ngIf="showPreview" id="results"><h4>Here is a preview of the image captured.</h4>
    <br><p style="font-style: italic;">note: The image shown may be displayed as mirrored</p>
<img [src]="webcamImage?.imageAsDataUrl" height="400px" /></div>
</div>
</div>