<div class="container" style="align-items: center;">
    <div class="card text-center" >
        <div class="card-header">
            <h3>AUTO-FILL FORMS</h3>
        </div>
        <div class="card-body position-relative" >
            <div style="position: fixed; margin-left: 40%; padding: initial; margin-top: 2%;"> 
     
              <button type="button" style="padding: 50px;" class="btn btn-warning" (click)="takePicture(CameraModal)"><i class="fa fa-camera" aria-hidden="true"></i><br>Camera</button><br>
              <input type="file" accept=".jpg,.png" class="button" (change)="upload()" style="padding-left: 225px;" />
            </div>
         
          <form [formGroup]="CardForm" (ngSubmit)="onSubmit(CardForm.value)" novalidate="novalidate">
          <div class="input-group flex-nowrap">
            <p style="font-weight: bold; ">Card number:&nbsp;&nbsp;</p> 
            <input type="text" class="form-control" placeholder="**** **** **** ****"  aria-describedby="addon-wrapping" formControlName="CardNumber">
          </div>
          <div *ngIf="CardForm.get('CardNumber')?.invalid && (CardForm.get('CardNumber')?.dirty || CardForm.get('CardNumber')?.touched)  ">
            <div *ngIf="CardForm.get('CardNumber')?.errors?.required "><span style="font-size: 12px; color: red;">Card Name is required.</span> </div>
            <div *ngIf="CardForm.get('CardNumber')?.errors?.maxlength"><span style="font-size: 12px; color: red;">Max Length for Card number is 16 digits</span> </div>
            <div *ngIf="CardForm.get('CardNumber')?.errors?.pattern"><span style="font-size: 12px; color: red;">Card number should only have numbers</span> </div>
           </div>
          <div class="input-group flex-nowrap">
            <p style="font-weight: bold;">Name on the card:&nbsp;&nbsp;</p>
            <input type="text" class="form-control" placeholder=""  aria-describedby="addon-wrapping" formControlName="Name">
          </div>
          <div *ngIf="CardForm.get('Name')?.invalid && (CardForm.get('Name')?.dirty || CardForm.get('Name')?.touched)  ">
            <div *ngIf="CardForm.get('Name')?.errors?.required "><span style="font-size: 12px; color: red;">Name is required.</span> </div>
            </div>
          <div class="input-group flex-nowrap">
            <p style="font-weight: bold;">Valid thru:&nbsp;&nbsp;</p>
            <input type="date" (change)="selecteddate(CardForm.value.ValidTill)" class="form-control" placeholder="MM/YYYY" [value]="datevalue"  aria-describedby="addon-wrapping" formControlName="ValidTill">
          </div>
          <div *ngIf="CardForm.get('ValidTill')?.invalid && (CardForm.get('ValidTill')?.dirty || CardForm.get('ValidTill')?.touched)  ">
            <div *ngIf="CardForm.get('ValidTill')?.errors?.required "><span style="font-size: 12px; color: red;">Valid Thru date is required.</span> </div>
            </div>
          <div class="input-group flex-nowrap">
            <p style="font-weight: bold;">CVV:&nbsp;&nbsp;</p>
            <input type="text" class="form-control" placeholder="***"  aria-describedby="addon-wrapping" formControlName="CVV">
          </div>
          <div *ngIf="CardForm.get('CVV')?.invalid && (CardForm.get('CVV')?.dirty || CardForm.get('CVV')?.touched)  ">
            <div *ngIf="CardForm.get('CVV')?.errors?.required "><span style="font-size: 12px; color: red;">CVV is required.</span> </div>
            <div *ngIf="CardForm.get('CVV')?.errors?.maxlength"><span style="font-size: 12px; color: red;">Max Length for CVV is 4 digits</span> </div>
            <div *ngIf="CardForm.get('CVV')?.errors?.pattern"><span style="font-size: 12px; color: red;">CVV should only have numbers</span> </div>
           </div>
          <div>
            <button class="w3-button w3-block " type="submit" [disabled]="CardForm.invalid" ><i class='fas fa-angle-right'></i> Proceed</button>
          </div>
        </form>
      
        </div>
      </div>
  </div>
  <ng-template #CameraModal>
    <div class="modal-content" role="dialog" aria-labelledby="modal_heading" aria-describedby="modal_heading">
        <div class="modal-header">
            <h5 class="modal-title pull-left" id="modal_heading">Camera</h5>
            <button type="button" class="close pull-right" aria-label="Close"  (click)="CloseModal()">
                <i class="fa fa-times" aria-hidden="true" title="Close"></i>
            </button>
        </div>
        <ng-container>
          <app-camera></app-camera>
          <br>
          <button class="w3-button w3-block "  type="button"  (click)="CloseModal()"><i class='fas fa-angle-right'></i> Close</button>
          <button class="w3-button w3-block "  type="button"  (click)="CloseModal()"><i class='fas fa-angle-right'></i> Submit</button>



          </ng-container>
  </div>
</ng-template>